<div class="row" ng-controller="ContatoController">
    <form name="contatoForm" style="margin-bottom: 5px;">
        <!--      É valido: {{contatoForm.$valid}}<br/>-->
        <!--      É invalido: {{contatoForm.$invalid}}<br/>-->
        <input
                class="form-control"
                ng-class="{'formInvalid':contatoForm.nome.$invalid && contatoForm.nome.$dirty}"
                type="text"
                ng-required="true"
                ng-model="contato.nome"
                name="nome"
                placeholder="Nome"/>
        <div class="contentAlertPanel" ng-if="contatoForm.nome.$invalid">
            Por favor, informe o campo nome!
        </div>
        <input
                class="form-control"
                ng-class="{'formInvalid':contatoForm.telefone.$invalid && contatoForm.telefone.$dirty}"
                type="text"
                ng-required="true"
                ng-model="contato.telefone"
                name="telefone"
                placeholder="Telefone"/>
        <div class="contentAlertPanel" ng-if="contatoForm.telefone.$invalid">
            Por favor, informe o campo telefone!
        </div>
        <select
                class="form-control"
                ng-class="{'formInvalid':contatoForm.operadora.$invalid && contatoForm.operadora.$dirty}"
                ng-model="contato.operadora"
                name="operadora"
                ng-required="true"
                ng-options="operadora.nome as operadora.nome + ' (' + (operadora.preco | currency) + ')'
                group
                by
                operadora.categoria
                for
                operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <div class="contentAlertPanel" ng-if="contatoForm.operadora.$invalid">
            Por favor, informe o campo operadora!
        </div>
        <button
                class="btn btn-primary btn-block"
                ng-click="adicionarContato(contato)"
                ng-if="!isEditandoRegistro"
                ng-disabled="contatoForm.$invalid">
            Adicionar
        </button>
        <button
                class="btn btn-primary btn-block"
                ng-click="alterarContato(contato)"
                ng-if="isEditandoRegistro"
                ng-disabled="contatoForm.$invalid">
            Alterar
        </button>
        <button
                class="btn btn-primary btn-warning btn-block"
                ng-click="limparForm()">
            Limpar
        </button>
        <button
                class="btn btn-danger btn-block"
                ng-click="apagarContatos(contatos)"
                ng-if="isContatoSelecionado(contatos)">
            Apagar
        </button>
    </form>
    <table class="table" ng-show="contatos.length > 0">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarTabelaPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarTabelaPor('telefone')">Telefone</a></th>
            <th><a href="" ng-click="ordenarTabelaPor('operadora')">Operadora</a></th>
            <th><a href="" ng-click="ordenarTabelaPor('data')">Data</a></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td colspan="7">
                <input class="form-control" type="text" ng-model="filtroTabela" placeholder="Filtrar na tabela"/>
            </td>
        </tr>
        <tr ng-class="{'selecionada negrito' : contato.selecionado}"
            ng-repeat="contato in contatos | filter:{nome: filtroTabela} | orderBy:criterioOrdenacao:criterioReverse">
            <td><input type="checkbox" ng-model="contato.selecionado"/></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora}}</td>
            <td>{{contato.data}}</td>
            <td>
                <span style="color: cornflowerblue" title="Editar" ng-click="editarContato(contato)">
                    <i class="fa fa-pencil"></i>
                </span>
            </td>
            <td>
                <span style="color: darkred" title="Excluir" ng-click="excluirContato(contato)">
                    <i class="fa fa-trash"></i>
                </span>
            </td>
            <!--            <td ng-repeat="(key, value) in contato">-->
            <!--                {{value}}-->
            <!--            </td>-->
        </tr>
    </table>
</div>
