<!DOCTYPE html>
<html lang="en" ng-app="pdCurso">
<head>
    <meta charset="UTF-8">
    <title>Hello Word</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
    <style>
        .jumbotron {
            width: 500px;
            text-align: center;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }
        .form-control {
            margin-top: 5px;
        }
        .btn {
            margin-top: 5px;
        }
        .selecionada {
            background-color: yellow;
        }
        .negrito {
            font-weight: bold;
        }
    </style>
    <script src="lib/angular.min.js"></script>
    <script>
        //Aqui cria um modulo no Angular, que foi injetado dentro da tag "html"
        var app = angular.module("pdCurso", []);

        //Aqui procura-se um modulo criado para injecao de controllers, services, diretivas ...
        app.controller("pdCursoController", function ($scope) {
            $scope.app = "Hello World PdCurso";
            $scope.contatos = [
                {nome: "Aluno 001", telefone: "818283845", operadora: ""},
                {nome: "Aluno 002", telefone: "121314151", operadora: ""}
            ];
            $scope.operadoras = [
                {codigo: 15, nome: "Vivo", categoria: "Móvel"},
                {codigo: 41, nome: "TIM", categoria: "Móvel"},
                {codigo: 14, nome: "Oi", categoria: "Móvel"},
                {codigo: 21, nome: "Embratel", categoria: "Fixo"}
            ];
            /* Jeito de adicionar dados na grid não praticavel.
               Devemos sempre inserir dados no scope, dentro do scrip controller JS
               (MANTRA DE BOAS PRATICAS) */
            // $scope.adicionarContato = function () {
            //     $scope.contatos.push({nome: $scope.nome, telefone: $scope.telefone});
            // }

            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };

            $scope.apagarContato = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato;
                });
            };

            $scope.isContatoSelecionedo = function(contatos) {
                return !contatos.some(function (contato) {
                    return contato.selecionado
                });
            };
        })
    </script>
</head>
<body ng-controller="pdCursoController">
<div class="jumbotron">
    <h4 ng-bind="app"></h4>
    <table class="table">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Operadora</th>
        </tr>
        <tr ng-class="{'selecionada negrito' : contato.selecionado}" ng-repeat="contato in contatos">
            <td><input type="checkbox" ng-model="contato.selecionado"/> </td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora}}</td>
<!--            <td ng-repeat="(key, value) in contato">-->
<!--                {{value}}-->
<!--            </td>-->
        </tr>
    </table>
    <hr/>
    <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
    <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
    <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome as operadora.nome group by operadora.categoria for operadora in operadoras">
        <option value="">Selecione uma operadora</option>
    </select>
    <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar</button>
    <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-disabled="isContatoSelecionedo(contatos)">Apagar</button>
</div>

<div ng-include="'src/footer.html'"></div>

</body>
</html>
