<!DOCTYPE html>
<html lang="en" ng-app="pdCurso">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Word</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="lib/bootstrap/bootstrap.min.css"
    />
    <style>
        .jumbotron {
            width: 500px;
            text-align: center;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control {
            margin-top: 5px;
        }

        .btn {
            margin-top: 5px;
        }
        .selecionada {
            background-color: yellow;
        }

        .negrito {
            font-weight: bold;
        }
        .formInvalid {
            border-color: #721c24;
            border-width: 1px;
        }
        .contentAlertPanel {
            background-color: #f8d7da;
            width: auto;
            height: auto;
            font-size: 12px;
            color: #721c24;
            text-align: center;
            margin-top: 3px;
            margin-bottom: 3px;
        }
    </style>
    <script src="lib/angular/angular.min.js"></script>
    <script>
        //Aqui cria um modulo no Angular, que foi injetado dentro da tag "html"
        var app = angular.module("pdCurso", []);

        //Aqui procura-se um modulo criado para injecao de controllers, services, diretivas ...
        app.controller("pdCursoController", function ($scope) {
            $scope.app = "PdCurso - AngularJs";
            $scope.contatos = [
                {nome: "Aluno 001", telefone: "818283845", operadora: "", selecionado: false},
                {nome: "Aluno 002", telefone: "121314151", operadora: ""},
            ];
            $scope.operadoras = [
                {codigo: 15, nome: "Vivo", categoria: "Móvel"},
                {codigo: 41, nome: "TIM", categoria: "Móvel"},
                {codigo: 14, nome: "Oi", categoria: "Móvel"},
                {codigo: 21, nome: "Embratel", categoria: "Fixo"},
            ];
            /* Jeito de adicionar dados na grid não praticavel.
                   Devemos sempre inserir dados no scope, dentro do scrip controller JS
                   (MANTRA DE BOAS PRATICAS) */
            // $scope.adicionarContato = function () {
            //     $scope.contatos.push({nome: $scope.nome, telefone: $scope.telefone});
            // }

            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            };

            $scope.apagarContato = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato;
                });
            };

            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            };
        });
    </script>
</head>
<body ng-controller="pdCursoController">
<div class="jumbotron">
    <h4 ng-bind="app"></h4>
    <table class="table" ng-show="contatos.length > 0">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Operadora</th>
        </tr>
        <tr ng-class="{'selecionada negrito' : contato.selecionado}" ng-repeat="contato in contatos">
            <td><input type="checkbox" ng-model="contato.selecionado"/></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora}}</td>
            <!--            <td ng-repeat="(key, value) in contato">-->
            <!--                {{value}}-->
            <!--            </td>-->
        </tr>
    </table>
    <hr/>
    <form name="contatoForm" style="margin-bottom: 5px;">
<!--      É valido: {{contatoForm.$valid}}<br/>-->
<!--      É invalido: {{contatoForm.$invalid}}<br/>-->
        <input
                class="form-control"
                ng-class="{'formInvalid':contatoForm.nome.$invalid && contatoForm.nome.$dirty}"
                type="text"
                ng-required="true"
                ng-model="contato.nome"
                name="nome"
                placeholder="Nome"/>
        <div class="contentAlertPanel" ng-if="contatoForm.nome.$invalid && contatoForm.nome.$dirty">
            Por favor, informe o campo nome!
        </div>
        <input
                class="form-control"
                ng-class="{'formInvalid':contatoForm.telefone.$invalid && contatoForm.telefone.$dirty}"
                type="text"
                ng-required="true"
                ng-model="contato.telefone"
                name="telefone"
                placeholder="Telefone"/>
        <div class="contentAlertPanel" ng-if="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty">
            Por favor, informe o campo telefone!
        </div>
        <select
                class="form-control"
                ng-class="{'formInvalid':contatoForm.operadora.$invalid && contatoForm.operadora.$dirty}"
                ng-model="contato.operadora"
                name="operadora"
                ng-required="true"
                ng-options="operadora.nome as operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <div class="contentAlertPanel" ng-if="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty" >
            Por favor, informe o campo operadora!
        </div>
    </form>
    <button
            class="btn btn-primary btn-block"
            ng-click="adicionarContato(contato)"
            ng-disabled="contatoForm.$invalid">
        Adicionar
    </button>
    <button
            class="btn btn-danger btn-block"
            ng-click="apagarContato(contatos)"
            ng-if="isContatoSelecionado(contatos)"
    >
        Apagar
    </button>
</div>

<div ng-include="'app/footer.html'">%%</div>
</body>
</html>
